body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url("menu_new-1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    min-height: 100vh;
}

/* Menu */
.menu {
    position: relative;
    min-height: 100vh;
    padding-top: 620px;
}

/* On cache le titre HTML car le logo est déjà dans l'image */
h1 {
    display: none;
}

/* Boutons */
button {
    display: block;
    width: 320px;
    margin: 18px auto;
    padding: 18px 25px;

    font-size: 22px;
    font-weight: bold;
    color: white;

    background: linear-gradient(
        135deg,
        #050505 0%,
        #160000 45%,
        #d00000 100%
    );

    border: 3px solid #ff2020;
    border-radius: 4px;

    box-shadow:
        0 0 8px #ff0000,
        inset 0 0 15px rgba(255, 0, 0, 0.35);

    cursor: pointer;

    clip-path: polygon(
        8% 0%,
        100% 0%,
        92% 100%,
        0% 100%
    );

    transition: 0.2s;
}

/* Quand on appuie / passe dessus */
button:hover {
    transform: scale(1.05);
    background: linear-gradient(
        135deg,
        #220000,
        #ff0000
    );

    box-shadow:
        0 0 18px red,
        inset 0 0 20px rgba(255, 255, 255, 0.2);
}

/* Téléphone */
@media (max-width: 600px) {

    .menu {
        padding-top: 560px;
    }

    button {
        width: 80%;
        max-width: 360px;
        font-size: 20px;
        padding: 17px;
    }
}
